include MANIFEST.in
include setup.py
include pyproject.toml
include README.md
include TDLPACK.md
include LICENSE
include VERSION
include create_docs.sh
include requirements.txt
include TdlpackIO.py
graft docs
graft src/ext
graft src/tdlpackio
prune tests
global-exclude *.py[cod] *.c *.so *.DS_Store
